.main {
    padding-top: 70px;
    background-color: #EBECED;
    .margenes {
        // background-color: grey;
        height: 100vh;
    }
    #trending {
        // margin-left: 50px;
        font-size: 12px;
        // list-style: none;
        // position: fixed;
    }
    .thumbnail {
        padding: 0;
        border: none;
        img {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            width: 100%;
        }
    }
    .login {
        background-color: white;
        text-align: center;
        padding: 20px;
        #subtitle {
            color: #8a8f9c;
            font-size: 11px;
        }
        button {
            color: white;
            font-size: 14px;
            width: 100%;
            &#facebook {
                background-color: #2b4170;
                /* fallback color */
                background: -moz-linear-gradient(top, #3b5998, #2b4170);
                background: -ms-linear-gradient(top, #3b5998, #2b4170);
                background: -webkit-linear-gradient(top, #3b5998, #2b4170);
                border: 1px solid #2b4170;
                text-shadow: 0 -1px -1px #1f2f52;
            }
            &#facebook:hover {
                background-color: #3b5998;
                /* fallback color */
                background: -moz-linear-gradient(top, #2b4170, #3b5998);
                background: -ms-linear-gradient(top, #2b4170, #3b5998);
                background: -webkit-linear-gradient(top, #2b4170, #3b5998);
            }
            &#twitter {
                background-color: #0081ce;
                /* fallback color */
                background: -moz-linear-gradient(top, #00aced, #0081ce);
                background: -ms-linear-gradient(top, #00aced, #0081ce);
                background: -webkit-linear-gradient(top, #00aced, #0081ce);
                border: 1px solid #0081ce;
                text-shadow: 0 -1px -1px #005ea3;
            }
            &#twitter:hover {
                background-color: #00aced;
                /* fallback color */
                background: -moz-linear-gradient(top, #0081ce, #00aced);
                background: -ms-linear-gradient(top, #0081ce, #00aced);
                background: -webkit-linear-gradient(top, #0081ce, #00aced);
            }
            &#join {
                background-color: white;
                color: #4978b3;
                border-style: none;
                border-top-style: outset;
                margin-top: 10%;
                padding-top: 10%;
            }
        }
    }
}
